<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.self.CatalogMapper" >
    <!-- 通用查询映射结果 -->
    <resultMap id="resultMap" type="com.blog.entity.self.KindInfo">
        <id column="id" property="id" />
        <result column="pid" property="id" />
        <result column="name" property="name" />
    </resultMap>
    <insert id="save" parameterType="com.blog.entity.self.KindInfo">
        insert into kind_info (
        pid,
        name
        )values (
        #{pid},
        #{name}
        )
    </insert>
    <select id="getCatalogByPid" resultType="com.blog.dto.CatalogDto">
        select
        id,
        pid,
        `name` as `value`,
        `name` as `label`
        from
        kind_info where pid=#{pId}
    </select>
    <update id="update">
        update kind_info set
        name=#{name}
        where id={id}
    </update>
</mapper>

